<div>
  <% for( let i = 0; i < data.length; i++ ) { %> <% if(data[i].verifiedEmail === 0) { %>
  <script>
    Swal.fire({
      icon: 'info',
      title: 'Oops! Email Anda belum terverifikasi',
      text: 'Silakan verifikasi email Anda!',
      confirmButtonText: '<a href="/dashboard/verify-email">Kirim link verifikasi email</a>',
    });
  </script>
  <%} }%> <% if (msg.length>0) { %>
  <div class="bg-emerald-500 px-6 py-3 mt-3 text-white"><%= msg %></div>
  <% }%>
</div>
<% if (isVerified === 1 ) { %>

<main class="max-w-screen-2xl mx-auto">
  <section class="mx-auto pt-9 w-full bg-gradient-to-b from-sky-200 to-white lg:h-screen">
    <h1 class="text-3xl p-2 font-bold lg:text-4xl pt-10 animate__animated animate__fadeInRightBig animate__slow">Dashboard</h1>
    <hr class="w-full mb-2 mx-auto border-t-[3px] border-t-slate-700" />
    <div class="p-5 flex items-center">
      <marquee direction="right" class="bg-sky-500 font-semibold text-2xl text-white shadow-md rounded-md animate__animated animate__flipInX">Selamat Datang, <%= username %></marquee>
    </div>
    <div class="max-w-screen-2xl mt-10 pb-3 mx-auto px-3 md:px-0 md:flex md:justify-evenly md:flex-wrap">
      <% if (jabatan !== 'staf') { %>
      <div class="group h-48 mx-auto mb-7 rounded-lg shadow-md border-1 overflow-hidden my- transition ease-in-out duration-300 bg-white hover:bg-green-50 md:w-[30%] md:hover:shadow-under hover:-translte-y-2" data-aos="flip-right">
        <div class="overflow-hidden bg-green-300 group-hover:bg-green-400 flex justify-between px-5 items-center relative h-[70%]">
          <i class="fa-solid fa-user text-5xl"></i>
          <p class="text-xl font-semibold absolute right-2 top-2"><%= Pegawai %></p>
          <h2 class="text-xl font-semibold">Pegawai</h2>
        </div>
        <div>
          <hr class="w-full border-t-[2px] border-t-gray-400" />
        </div>
        <div class="flex items-center h-[30%]">
          <a href="/dashboard/dataUser" class="flex w-full h-full justify-between items-center px-2 hover:text-green-900 hover:bg-green-100 active:bg-green-200">
            <span>View Details</span>
            <i class="fa-solid fa-circle-right"></i>
          </a>
        </div>
      </div>
      <% } %>

      <div class="group mx-auto h-48 mb-7 rounded-lg shadow-md border-1 overflow-hidden my- transition ease-in-out duration-300 bg-white hover:bg-red-50 md:w-[30%] md:hover:shadow-under md:hover:translate-y-2" data-aos="flip-right">
        <div class="overflow-hidden bg-red-300 group-hover:bg-red-400 flex justify-between px-5 items-center relative h-[70%]">
          <i class="fa fa-group text-5xl"></i>
          <p class="text-xl font-semibold absolute right-2 top-2"><%= Penduduk %></p>
          <h2 class="text-xl font-semibold">Penduduk</h2>
        </div>
        <div>
          <hr class="w-full border-t-[2px] border-t-gray-400" />
        </div>
        <div class="flex items-center h-[30%]">
          <a href="/dashboard/dataProfile" class="flex w-full h-full justify-between items-center px-2 hover:text-red-900 hover:bg-red-100 active:bg-red-200">
            <span>View Details</span>
            <i class="fa-solid fa-circle-right"></i>
          </a>
        </div>
      </div>

      <div class="group mx-auto mb-7 h-48 rounded-lg shadow-md border-1 overflow-hidden my- transition ease-in-out duration-300 bg-white hover:bg-blue-50 md:w-[30%] md:hover:shadow-under md:hover:translate-y-2" data-aos="flip-right">
        <div class="overflow-hidden bg-blue-300 group-hover:bg-blue-400 flex justify-between px-5 items-center relative h-[70%]">
          <i class="fa-solid fa-circle-info text-5xl"></i>
          <p class="text-xl font-semibold absolute right-2 top-2"><%= Informasi %></p>
          <h2 class="text-xl font-semibold">Informasi</h2>
        </div>
        <div>
          <hr class="w-full border-t-[2px] border-t-gray-400" />
        </div>
        <div class="flex items-center h-[30%]">
          <a href="informasi" class="flex w-full h-full justify-between items-center px-2 hover:text-blue-900 hover:bg-blue-100 active:bg-blue-200">
            <span>View Details</span>
            <i class="fa-solid fa-circle-right"></i>
          </a>
        </div>
    </div>
  </section>
</main>
<% } %>
