<!-- table  data pegawai-->
<div class="mt-20">
    <h1 class="text-2xl mb-3 font-bold">Data Pegawai</h1>
    <table>
        <thead>
            <tr>
                <th>nama</th>
                <th>nip</th>
                <th>email</th>
                <th>username</th>
                <th>jabatan</th>
            </tr>
        </thead>
        <tbody>
            <% for( let i = 0; i < data.length; i++ ) { %>
                <tr>
                    <td><%= data[i].nama %></td>
                    <td><%= data[i].nip %></td>
                    <td><%= data[i].email %></td>
                    <td><%= data[i].username %></td>
                    <td><%= data[i].jabatan %></td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>