<main class="container mx-auto bg-white mb-0  mt-20">
    <section class=" mx-auto my-3 w-full bg-gradient-to-b from-sky-200 to-white pb-10 ">
        <div>
            <h1 class="text-3xl p-2 font-bold lg:text-4xl pt-10" data-aos="fade-left">Data Penduduk</h>
            <hr class="w-full mb-2 mx-auto border-t-[3px] border-t-slate-700" />
  
        </div>

       <div class=" mt-5 px-5 ">

        <table class="table-auto border border-black border-collapse w-full ">
            <caption class="text-black font-semibold lg:text-xl">Jumlah Penduduk</caption>
            <thead >
                <tr>
                    <th class="border border-black py-4 bg-sky-500 text-center">Laki-Laki</th>
                    <th class="border border-black py-4 bg-sky-500 text-center">Perempuan</th>
                    <th class="border border-black py-4 bg-sky-500 text-center">Jumlah</th>
                    <th class="border border-black py-4 bg-sky-500 text-center">Aksi</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td class="border border-black p-3 bg-slate-200 text-center"><%= data[0].laki_laki %></td>
                        <td class="border border-black p-3 bg-slate-200 text-center"><%= data[0].perempuan %></td>
                        <td class="border border-black p-3 bg-slate-200 text-center"><%= data[0].laki_laki + data[0].perempuan %></td>
                        <td class="border border-black p-3 bg-slate-200 text-center">
                            <button class="bg-emerald-400 px-2 py-1 rounded-lg hover:bg-emerald-500 cursor-pointer hover:text-gray-300" id="update-penduduk"><i class="fa-solid fa-pencil  "></i></button> |
                            <a href="" class="bg-red-400 px-2 py-1 rounded-lg hover:bg-red-500 cursor-pointer hover:text-gray-300" onclick="return confirm('anda yakin akan menghapus data ini ?')"><i class="fa-solid fa-trash"></i></a>
                        </td>
                    </tr>
            </tbody>
        </table>
    </div>


<div class="mt-10  px-5">
    <table class="table-auto border border-black border-collapse w-full ">
        <caption class="text-black font-semibold lg:text-xl">Agama</caption>
        <thead>
            <tr>
                <th class="border border-black py-4 bg-sky-500 text-center">Islam</th>
                <th class="border border-black py-4 bg-sky-500 text-center">Kristen</th>
                <th class="border border-black py-4 bg-sky-500 text-center">Katolik</th>
                <th class="border border-black py-4 bg-sky-500 text-center">Hindu</th>
                <th class="border border-black py-4 bg-sky-500 text-center">Budha</th>
                <th class="border border-black py-4 bg-sky-500 text-center">Aksi</th>
               
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="border border-black p-3 bg-slate-200 text-center">
                    <%= data[0].islam %>
                </td>
                <td class="border border-black p-3 bg-slate-200 text-center">
                    <%= data[0].kristen %>
                </td>
                <td class="border border-black p-3 bg-slate-200 text-center">
                    <%= data[0].katolik %>
                </td>
                <td class="border border-black p-3 bg-slate-200 text-center"> 
                    <%= data[0].hindu %>
                </td>
                <td class="border border-black p-3 bg-slate-200 text-center">
                    <%= data[0].budha %>
                </td>
                <td class="border border-black p-3 bg-slate-200 text-center">
                    <a href="" class="bg-emerald-400 px-2 py-1 rounded-lg hover:bg-emerald-500 cursor-pointer hover:text-gray-300" ><i class="fa-solid fa-pencil "></i></a> |
                    <a href="" class="bg-red-400 px-2 py-1 rounded-lg hover:bg-red-500 cursor-pointer hover:text-gray-300" onclick="return confirm('anda yakin akan menghapus data ini ?')"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="mt-10 px-5">

    <table class="table-auto border border-black border-collapse w-full ">
        <caption class="text-black font-semibold lg:text-xl">Etnis</caption>
        <thead >
            <tr>
                <th class="border border-black py-4 bg-sky-500 text-center">Sunda</th>
                <th class="border border-black py-4 bg-sky-500 text-center">Jawa</th>
                <th class="border border-black py-4 bg-sky-500 text-center">Bali</th>
                <th class="border border-black py-4 bg-sky-500 text-center">Bugis</th>
                <th class="border border-black py-4 bg-sky-500 text-center">Makasar</th>
                <th class="border border-black py-4 bg-sky-500 text-center">Mandar</th>
                <th class="border border-black py-4 bg-sky-500 text-center">Tolaki</th>
                <th class="border border-black py-4 bg-sky-500 text-center">Buton</th>
                <th class="border border-black py-4 bg-sky-500 text-center">Muna</th>
                <th class="border border-black py-4 bg-sky-500 text-center">Bajo</th>
                <th class="border border-black py-4 bg-sky-500 text-center">Bungku / Mornene</th>
                <th class="border border-black py-4 bg-sky-500 text-center">Toraja</th>
                <th class="border border-black py-4 bg-sky-500 text-center">Aksi</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="border border-black p-3 bg-slate-200 text-center">
                    <%= data[0].sunda %>
                </td>
                <td class="border border-black p-3 bg-slate-200 text-center">
                    <%= data[0].jawa %>
                </td>
                <td class="border border-black p-3 bg-slate-200 text-center">
                    <%= data[0].bali %>
                </td>
                <td class="border border-black p-3 bg-slate-200 text-center">
                    <%= data[0].bugis %>
                </td>
                <td class="border border-black p-3 bg-slate-200 text-center">
                    <%= data[0].makasar %>
                </td>
                <td class="border border-black p-3 bg-slate-200 text-center">
                    <%= data[0].mandar %>
                </td>
                <td class="border border-black p-3 bg-slate-200 text-center">
                    <%= data[0].tolaki %>
                </td>
                <td class="border border-black p-3 bg-slate-200 text-center">
                    <%= data[0].buton %>
                </td>
                <td class="border border-black p-3 bg-slate-200 text-center">
                    <%= data[0].muna %>
                </td>
                <td class="border border-black p-3 bg-slate-200 text-center">
                    <%= data[0].bajo %>
                </td>
                <td class="border border-black p-3 bg-slate-200 text-center">
                    <%= data[0].mornene %>
                </td>
                <td class="border border-black p-3 bg-slate-200 text-center">
                    <%= data[0].toraja %>
                </td>
                <td class="border border-black p-3 bg-slate-200 text-center">
                    <a href="" class="bg-emerald-400 px-2 py-1 rounded-lg hover:bg-emerald-500 cursor-pointer hover:text-gray-300" ><i class="fa-solid fa-pencil "></i></a> |
                    <a href="" class="bg-red-400 px-2 py-1 rounded-lg hover:bg-red-500 cursor-pointer hover:text-gray-300" onclick="return confirm('anda yakin akan menghapus data ini ?')"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</section>
</main>

<div id="popup" class=" fixed justify-center items-center bg-black/50 top-0 left-0 right-0 bottom-0 hidden animate__animated animate__fadeIn">
    <div class="fixed bg-white p-9 rounded-xl shadow-xl animate__animated animate__backInUp">
      <div id="close-btn" class="absolute top-0 right-0 text-red-600 text-4xl w-14 h-14 rounded-full cursor-pointer flex justify-center items-center hover:bg-red-600 hover:text-white md:-top-5 md:-right-5 md:bg-white md:border md:border-black"><i class="fa-solid fa-xmark"></i></div>
      <h1 class="font-bold text-4xl">Update Penduduk</h1>
      <form action="/forgot-Password" method="post" class="mt-3">
        <label for="laki">
          <div class="text-slate-800 mb-2">Laki - laki</div>
          <input
            type="number"
            class="border border-black rounded shadow-lg py-1 px-3 focus:ring-1 focus:border-sky-600 focus:ring-sky-500 focus:outline-none w-full invalid:text-red-500 invalid:focus:border-red-500 invalid:focus:ring-red-500 peer"
            placeholder="Laki-laki"
            id="laki"
            name="laki_laki"
          />
        <label for="perempuan">
          <div class="text-slate-800 mb-2 mt-2">Perempuan</div>
          <input
            type="number"
            class="border border-black rounded shadow-lg py-1 px-3 focus:ring-1 focus:border-sky-600 focus:ring-sky-500 focus:outline-none w-full invalid:text-red-500 invalid:focus:border-red-500 invalid:focus:ring-red-500 peer"
            placeholder="Perempuan"
            id="perempuan"
            name="Perempuan"
          />
        <label for="jumlah">
          <div class="text-slate-800 mb-2 mt-2">Jumlah</div>
          <input
            type="number"
            class="border border-black rounded shadow-lg py-1 px-3 focus:ring-1 focus:border-sky-600 focus:ring-sky-500 focus:outline-none w-full invalid:text-red-500 invalid:focus:border-red-500 invalid:focus:ring-red-500 peer"
            placeholder="Jumlah"
            id="jumlah"
            name="Jumlah"
          />
        </label>
        <button class="mx-auto block mt-5 bg-orange-500 px-4 py-1 rounded-md text-white hover:bg-orange-600 active:bg-orange-700">Update</button>
  
      </form>
  
      
    </div>
  </div>