<main class="max-w-screen-2xl mx-auto bg-white overflow-auto pb-9 md:h-screen">
    <section class=" mx-auto w-full bg-gradient-to-b from-sky-200 to-white py-9">
        <div>
            <h1 class="text-3xl p-2 font-bold lg:text-4xl pt-10" data-aos="fade-left">Data Penduduk</h>
            <hr class="w-full mb-2 mx-auto border-t-[3px] border-t-slate-700" />
  
        </div>

      <div class=" mt-5 px-5 ">
        <a href="/dashboard/add-data" class="mb-5 bg-orange-500 px-4 py-1 rounded-md text-white hover:bg-orange-600 active:bg-orange-700 sm:mt-10">Tambah Data</a>
        <table class="table-auto border border-black border-collapse w-full ">
            <caption class="text-black font-semibold lg:text-xl">Jumlah Penduduk</caption>
            <thead >
                <tr>
                    <th class="border border-black py-4 bg-sky-500 text-center">Tahun</th>
                    <th class="border border-black py-4 bg-sky-500 text-center">Laki-Laki</th>
                    <th class="border border-black py-4 bg-sky-500 text-center">Perempuan</th>
                    <th class="border border-black py-4 bg-sky-500 text-center">Jumlah</th>
                    <th class="border border-black py-4 bg-sky-500 text-center">Aksi</th>
                </tr>
            </thead>
            <tbody>
              <% if (data.length>0) { %>
                <% for( let i = 0; i < data.length; i++ ) { %>
                  <tr>
                    <td class="border border-black p-3 bg-slate-200 text-center"><%= data[i].year %></td>
                    <td class="border border-black p-3 bg-slate-200 text-center"><%= data[i].laki_laki %></td>
                    <td class="border border-black p-3 bg-slate-200 text-center"><%= data[i].perempuan %></td>
                    <td class="border border-black p-3 bg-slate-200 text-center"><%= data[i].laki_laki + data[0].perempuan %></td>
                    <td class="border border-black p-3 bg-slate-200 text-center">
                      <button class="bg-emerald-400 px-2 py-1 rounded-lg hover:bg-emerald-500 cursor-pointer hover:text-gray-300" id="update-penduduk"><i class="fa-solid fa-pencil  "></i></button>
                    </td>
                  </tr>
                  <div id="popup" class=" fixed justify-center items-center bg-black/50 top-0 left-0 right-0 bottom-0 hidden animate__animated animate__fadeIn overflow-y-scroll">
    <div class="fixed bg-white p-9 rounded-xl shadow-xl animate__animated animate__backInUp">
      <div id="close-btn" class="absolute top-2 right-2 text-red-600 text-2xl rounded-full hover:bg-red-600 hover:text-white w-8 h-8 cursor-pointer flex justify-center items-center "><i class="fa-solid fa-xmark"></i></div>
      <h1 class="font-bold text-4xl">Update Penduduk</h1>
      <form action="/update-penduduk?_method=PUT" method="post" class="mt-3">
        <input type="hidden" name="id" value="<%= data[i]._id%>">
        <label for="laki">
          <div class="text-slate-800 mb-2">Laki - laki</div>
          <input
            type="number"
            class="border border-black rounded shadow-lg py-1 px-3 focus:ring-1 focus:border-sky-600 focus:ring-sky-500 focus:outline-none w-full invalid:text-red-500 invalid:focus:border-red-500 invalid:focus:ring-red-500 peer"
            placeholder="Laki-laki"
            id="laki"
            value="<%= data[i].laki_laki %>"
            name="laki_laki"
          />
        <label for="perempuan">
          <div class="text-slate-800 mb-2 mt-2">Perempuan</div>
          <input
            type="number"
            class="border border-black rounded shadow-lg py-1 px-3 focus:ring-1 focus:border-sky-600 focus:ring-sky-500 focus:outline-none w-full invalid:text-red-500 invalid:focus:border-red-500 invalid:focus:ring-red-500 peer"
            placeholder="Perempuan"
            id="perempuan"
            value="<%= data[i].perempuan %>"
            name="Perempuan"
          />
        <button class="mx-auto block mt-5 bg-orange-500 px-4 py-1 rounded-md text-white hover:bg-orange-600 active:bg-orange-700">Update</button>
      </form>
    </div>
</div>
                  <% } %>
                <% } %>
            </tbody>
        </table>
    </div>


<div class="mt-10  px-5">
    <table class="table-auto border border-black border-collapse w-full ">
        <caption class="text-black font-semibold lg:text-xl">Agama</caption>
        <thead>
            <tr>
              <th class="border border-black py-4 bg-sky-500 text-center">Tahun</th>
                <th class="border border-black py-4 bg-sky-500 text-center">Islam</th>
                <th class="border border-black py-4 bg-sky-500 text-center">Kristen</th>
                <th class="border border-black py-4 bg-sky-500 text-center">Katolik</th>
                <th class="border border-black py-4 bg-sky-500 text-center">Hindu</th>
                <th class="border border-black py-4 bg-sky-500 text-center">Budha</th>
                <th class="border border-black py-4 bg-sky-500 text-center">Aksi</th>
            </tr>
        </thead>
        <tbody>
          <% if (data.length>0) { %>
            <% for( let i = 0; i < data.length; i++ ) { %>
            <tr>
              <td class="border border-black p-3 bg-slate-200 text-center">
                <%= data[i].year %>
              </td>
              <td class="border border-black p-3 bg-slate-200 text-center">
                <%= data[i].islam %>
              </td>
              <td class="border border-black p-3 bg-slate-200 text-center">
                <%= data[i].kristen %>
              </td>
              <td class="border border-black p-3 bg-slate-200 text-center">
                <%= data[i].katolik %>
              </td>
              <td class="border border-black p-3 bg-slate-200 text-center"> 
                <%= data[i].hindu %>
              </td>
              <td class="border border-black p-3 bg-slate-200 text-center">
                <%= data[i].budha %>
              </td>
              <td class="border border-black p-3 bg-slate-200 text-center">
                <button  class="bg-emerald-400 px-2 py-1 rounded-lg hover:bg-emerald-500 cursor-pointer hover:text-gray-300" id="update-agama" ><i class="fa-solid fa-pencil "></i></button>
              </td>
            </tr>
            <div id="popup-agama" class=" fixed justify-center items-center bg-black/50 top-0 left-0 right-0 bottom-0 hidden animate__animated animate__fadeIn">
    <div class="fixed bg-white p-9 rounded-xl shadow-xl animate__animated animate__backInUp">
      <div id="close-btnag" class="absolute top-2 right-2 text-red-600 text-2xl rounded-full hover:bg-red-600 hover:text-white w-8 h-8 cursor-pointer flex justify-center items-center "><i class="fa-solid fa-xmark"></i></div>
      <h1 class="font-bold text-4xl">Update Agama</h1>
      <form action="/update-agama?_method=PUT" method="post" class="mt-3">
        <input type="hidden" name="id" value="<%= data[i]._id%>">
        <label for="islam">
          <div class="text-slate-800 mb-2">Islam</div>
          <input
            type="number"
            class="border border-black rounded shadow-lg py-1 px-3 focus:ring-1 focus:border-sky-600 focus:ring-sky-500 focus:outline-none w-full invalid:text-red-500 invalid:focus:border-red-500 invalid:focus:ring-red-500 peer"
            placeholder="Islam"
            id="islam"
            value="<%=  data[i].islam %>"
            name="islam"
          />
        </label>
        <label for="kristen">
          <div class="text-slate-800 mb-2 mt-2">Kristen</div>
          <input
            type="number"
            class="border border-black rounded shadow-lg py-1 px-3 focus:ring-1 focus:border-sky-600 focus:ring-sky-500 focus:outline-none w-full invalid:text-red-500 invalid:focus:border-red-500 invalid:focus:ring-red-500 peer"
            placeholder="Kristen"
            id="kristen"
            value="<%= data[i].kristen %>"
            name="kristen"
          />
        <label for="katolik">
          <div class="text-slate-800 mb-2 mt-2">Katolik</div>
          <input
            type="number"
            class="border border-black rounded shadow-lg py-1 px-3 focus:ring-1 focus:border-sky-600 focus:ring-sky-500 focus:outline-none w-full invalid:text-red-500 invalid:focus:border-red-500 invalid:focus:ring-red-500 peer"
            placeholder="Katolik"
            id="katolik"
            value="<%= data[i].katolik %>"
            name="katolik"
          />
        </label>
        <label for="hindu">
          <div class="text-slate-800 mb-2 mt-2">Hindu</div>
          <input
            type="number"
            class="border border-black rounded shadow-lg py-1 px-3 focus:ring-1 focus:border-sky-600 focus:ring-sky-500 focus:outline-none w-full invalid:text-red-500 invalid:focus:border-red-500 invalid:focus:ring-red-500 peer"
            placeholder="Hindu"
            id="hindu"
            value="<%= data[i].hindu%>"
            name="hindu"
          />
        </label>
        <label for="budha">
          <div class="text-slate-800 mb-2 mt-2">Budha</div>
          <input
            type="number"
            class="border border-black rounded shadow-lg py-1 px-3 focus:ring-1 focus:border-sky-600 focus:ring-sky-500 focus:outline-none w-full invalid:text-red-500 invalid:focus:border-red-500 invalid:focus:ring-red-500 peer"
            placeholder="Budha"
            id="budha"
            value="<%= data[i].budha %>"
            name="budha"
          />
        </label>
        <button class="mx-auto block mt-5 bg-orange-500 px-4 py-1 rounded-md text-white hover:bg-orange-600 active:bg-orange-700">Update</button>
      </form>
    </div>
</div>
            <% } %>
            <% } %>
          </tbody>
    </table>
</div>

<div class="mt-10 px-5 w-[100%] ">
  <p class="text-black text-center font-semibold lg:text-xl">Etnis</p>
<div class="mx-auto w-full overflow-auto">
  <table class="table-auto border border-black w-full ">
      <thead >
          <tr>
              <th class="border border-black py-4 bg-sky-500 text-center">Tahun</th>
              <th class="border border-black py-4 bg-sky-500 text-center">Sunda</th>
              <th class="border border-black py-4 bg-sky-500 text-center">Jawa</th>
              <th class="border border-black py-4 bg-sky-500 text-center">Bali</th>
              <th class="border border-black py-4 bg-sky-500 text-center">Bugis</th>
              <th class="border border-black py-4 bg-sky-500 text-center">Makasar</th>
              <th class="border border-black py-4 bg-sky-500 text-center">Mandar</th>
              <th class="border border-black py-4 bg-sky-500 text-center">Tolaki</th>
              <th class="border border-black py-4 bg-sky-500 text-center">Buton</th>
              <th class="border border-black py-4 bg-sky-500 text-center">Muna</th>
              <th class="border border-black py-4 bg-sky-500 text-center">Bajo</th>
              <th class="border border-black py-4 bg-sky-500 text-center">Bungku / Mornene</th>
              <th class="border border-black py-4 bg-sky-500 text-center">Toraja</th>
              <th class="border border-black py-4 bg-sky-500 text-center">Aksi</th>
          </tr>
      </thead>
      <tbody>
        <% if (data.length>0) { %>
          <% for( let i = 0; i < data.length; i++ ) { %>
          <tr>
            <td class="border border-black p-3 bg-slate-200 text-center">
              <%= data[0].year %>
            </td>
            <td class="border border-black p-3 bg-slate-200 text-center">
              <%= data[i].sunda %>
            </td>
            <td class="border border-black p-3 bg-slate-200 text-center">
              <%= data[i].jawa %>
            </td>
            <td class="border border-black p-3 bg-slate-200 text-center">
              <%= data[i].bali %>
            </td>
            <td class="border border-black p-3 bg-slate-200 text-center">
              <%= data[i].bugis %>
            </td>
            <td class="border border-black p-3 bg-slate-200 text-center">
              <%= data[i].makasar %>
            </td>
            <td class="border border-black p-3 bg-slate-200 text-center">
              <%= data[i].mandar %>
            </td>
            <td class="border border-black p-3 bg-slate-200 text-center">
              <%= data[i].tolaki %>
            </td>
            <td class="border border-black p-3 bg-slate-200 text-center">
              <%= data[i].buton %>
            </td>
            <td class="border border-black p-3 bg-slate-200 text-center">
              <%= data[i].muna %>
            </td>
            <td class="border border-black p-3 bg-slate-200 text-center">
              <%= data[i].bajo %>
            </td>
            <td class="border border-black p-3 bg-slate-200 text-center">
              <%= data[i].mornene %>
            </td>
            <td class="border border-black p-3 bg-slate-200 text-center">
              <%= data[i].toraja %>
            </td>
            <td class="border border-black p-3 bg-slate-200 text-center">
              <button class="bg-emerald-400 px-2 py-1 rounded-lg hover:bg-emerald-500 cursor-pointer hover:text-gray-300" id="update-etnis"><i class="fa-solid fa-pencil "></i></button>
            </td>
          </tr>
            <% } %>
          <% } %>
      </tbody>
  </table>
</div>
</div>
</section>
</main>
  <% for( let i = 0; i < data.length; i++ ) { %>
    <div id="popup-etnis" class=" fixed justify-center items-center bg-black/50 top-0 left-0 right-0 bottom-0 hidden animate__animated animate__fadeIn">
  <div class="fixed bg-white p-9 rounded-xl shadow-xl animate__animated animate__backInUp h-[80%]  overflow-hidden">
    <div id="close-btnet" class="absolute top-2 right-2 text-red-600 text-2xl rounded-full hover:bg-red-600 hover:text-white w-10 h-10 cursor-pointer flex justify-center items-center "><i class="fa-solid fa-xmark"></i></div>
    <h1 class="font-bold text-4xl">Update Etnis</h1>
    <form action="/update-etnis?_method=PUT" method="post" class="mt-3 overflow-y-auto h-[90%] px-5">
      <input type="hidden" name="id" value="<%=data[i]%>">
      <label for="sunda">
        <div class="text-slate-800 mb-2">Sunda</div>
        <input
          type="number"
          class="border border-black rounded shadow-lg py-1 px-3 focus:ring-1 focus:border-sky-600 focus:ring-sky-500 focus:outline-none w-full invalid:text-red-500 invalid:focus:border-red-500 invalid:focus:ring-red-500 peer"
          placeholder="sunda"
          id="sunda"
          value="<%= data[i].sunda %>"
          name="sunda"
        />
      <label for="jawa">
        <div class="text-slate-800 mb-2 mt-2">Jawa</div>
        <input
          type="number"
          class="border border-black rounded shadow-lg py-1 px-3 focus:ring-1 focus:border-sky-600 focus:ring-sky-500 focus:outline-none w-full invalid:text-red-500 invalid:focus:border-red-500 invalid:focus:ring-red-500 peer"
          placeholder="Jawa"
          id="jawa"
          value="<%= data[i].jawa %>"
          name="jawa"
        />
      <label for="bali">
        <div class="text-slate-800 mb-2 mt-2">Bali</div>
        <input
          type="number"
          class="border border-black rounded shadow-lg py-1 px-3 focus:ring-1 focus:border-sky-600 focus:ring-sky-500 focus:outline-none w-full invalid:text-red-500 invalid:focus:border-red-500 invalid:focus:ring-red-500 peer"
          placeholder="Bali"
          id="bali"
          value="<%= data[i].bali %>"
          name="bali"
        />
      </label>
      <label for="bugis">
        <div class="text-slate-800 mb-2 mt-2">Bugis</div>
        <input
          type="number"
          class="border border-black rounded shadow-lg py-1 px-3 focus:ring-1 focus:border-sky-600 focus:ring-sky-500 focus:outline-none w-full invalid:text-red-500 invalid:focus:border-red-500 invalid:focus:ring-red-500 peer"
          placeholder="Bugis"
          id="bugis"
          value="<%= data[i].bugis %>"
          name="bugis"
        />
      </label>
      <label for="makasar">
        <div class="text-slate-800 mb-2 mt-2">Makasar</div>
        <input
          type="number"
          class="border border-black rounded shadow-lg py-1 px-3 focus:ring-1 focus:border-sky-600 focus:ring-sky-500 focus:outline-none w-full invalid:text-red-500 invalid:focus:border-red-500 invalid:focus:ring-red-500 peer"
          placeholder="Makasar"
          id="makasar"
          value="<%= data[i].makasar %>"
          name="makassar"
        />
      </label>

      <label for="mandar">
        <div class="text-slate-800 mb-2 mt-2">Mandar</div>
        <input
          type="number"
          class="border border-black rounded shadow-lg py-1 px-3 focus:ring-1 focus:border-sky-600 focus:ring-sky-500 focus:outline-none w-full invalid:text-red-500 invalid:focus:border-red-500 invalid:focus:ring-red-500 peer"
          placeholder="Mandar"
          id="mandar"
          value="<%= data[i].mandar %>"
          name="mandar"
        />
      </label>

      <label for="tolaki">
        <div class="text-slate-800 mb-2 mt-2">Tolaki</div>
        <input
          type="number"
          class="border border-black rounded shadow-lg py-1 px-3 focus:ring-1 focus:border-sky-600 focus:ring-sky-500 focus:outline-none w-full invalid:text-red-500 invalid:focus:border-red-500 invalid:focus:ring-red-500 peer"
          placeholder="Tolaki"
          id="tolaki"
          value="<%= data[i].tolaki %>"
          name="tolaki"
        />
      </label>
      <label for="buton">
        <div class="text-slate-800 mb-2 mt-2">Buton</div>
        <input
          type="number"
          class="border border-black rounded shadow-lg py-1 px-3 focus:ring-1 focus:border-sky-600 focus:ring-sky-500 focus:outline-none w-full invalid:text-red-500 invalid:focus:border-red-500 invalid:focus:ring-red-500 peer"
          placeholder="Buton"
          id="buton"
          value="<%= data[i].buton %>"
          name="buton"
        />
      </label>
      <label for="muna">
        <div class="text-slate-800 mb-2 mt-2">Muna</div>
        <input
          type="number"
          class="border border-black rounded shadow-lg py-1 px-3 focus:ring-1 focus:border-sky-600 focus:ring-sky-500 focus:outline-none w-full invalid:text-red-500 invalid:focus:border-red-500 invalid:focus:ring-red-500 peer"
          placeholder="Muna"
          id="muna"
          value="<%=data[i].muna %>"
          name="muna"
        />
      </label>
      <label for="bajo">
        <div class="text-slate-800 mb-2 mt-2">Bajo</div>
        <input
          type="number"
          class="border border-black rounded shadow-lg py-1 px-3 focus:ring-1 focus:border-sky-600 focus:ring-sky-500 focus:outline-none w-full invalid:text-red-500 invalid:focus:border-red-500 invalid:focus:ring-red-500 peer"
          placeholder="Bajo"
          id="bajo"
          value="<%= data[i].bajo %>"
          name="bajo"
        />
      </label>
      <label for="mornene">
        <div class="text-slate-800 mb-2 mt-2">Bungku / Mornene</div>
        <input
          type="number"
          class="border border-black rounded shadow-lg py-1 px-3 focus:ring-1 focus:border-sky-600 focus:ring-sky-500 focus:outline-none w-full invalid:text-red-500 invalid:focus:border-red-500 invalid:focus:ring-red-500 peer"
          placeholder="Bungku / Mornene"
          id="mornene"
          value="<%=  data[i].mornene %>"
          name="mornene"
        />
      </label>
      <label for="toraja">
        <div class="text-slate-800 mb-2 mt-2">Toraja</div>
        <input
          type="number"
          class="border border-black rounded shadow-lg py-1 px-3 focus:ring-1 focus:border-sky-600 focus:ring-sky-500 focus:outline-none w-full invalid:text-red-500 invalid:focus:border-red-500 invalid:focus:ring-red-500 peer"
          placeholder="Toraja"
          id="toraja"
          value="<%=  data[i].toraja %>"
          name="toraja"
        />
      </label>
      <button class="mx-auto block mt-5 bg-orange-500 px-4 py-1 rounded-md text-white hover:bg-orange-600 active:bg-orange-700">Update</button>
    </form>
  </div>
</div>
  <% } %>

<% if (msg.length > 0) { %>
          <script>
            const Toast = Swal.mixin({
              toast: true,
              position: 'top-end',
              showConfirmButton: false,
              timer: 3000,
              timerProgressBar: true,
            didOpen: (toast) => {
              toast.addEventListener('mouseenter', Swal.stopTimer)
              toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
            })
            Toast.fire({
                icon: 'success',
                title: '<%= msg %>'
              })

          </script>
          <% } %>
