<div class="mt-20 ml-4">
    <a href="" class="text-lg text-red-500 font-bold hover:text-red-800">Jumlah Penduduk</a>
    <table>
        <thead>
            <tr>
                <th>Laki - Laki </th>
                <th>Perempuan</th>
                <th>Jumlah</th>
        </thead>
        <tbody>
            <tr>
                <td>
                    <%= data[0].laki_laki %>
                </td>
                <td>
                    <%= data[0].perempuan %>
                </td>
                <td>
                    <%= data[0].laki_laki + data[0].perempuan %>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="mt-10 ml-4">
    <a href="" class="text-lg text-red-500 font-bold hover:text-red-800">Agama</a>
    <table>
        <thead>
            <tr>
                <th>Islam</th>
                <th>Kristen</th>
                <th>Katolik</th>
                <th>Hindu</th>
                <th>Budha</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <%= data[0].islam %>
                </td>
                <td>
                    <%= data[0].kristen %>
                </td>
                <td>
                    <%= data[0].katolik %>
                </td>
                <td>
                    <%= data[0].hindu %>
                </td>
                <td>
                    <%= data[0].budha %>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="mt-10 ml-4">
    <a href="" class="text-lg text-red-500 font-bold hover:text-red-800">Etnis</a>
    <table>
        <thead>
            <tr>
                <th>Sunda</th>
                <th>Jawa</th>
                <th>Bali</th>
                <th>Bugis</th>
                <th>Makasar</th>
                <th>Mandar</th>
                <th>Tolaki</th>
                <th>Buton</th>
                <th>Muna</th>
                <th>Bajo</th>
                <th>Bungku / Mornene</th>
                <th>Toraja</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <%= data[0].sunda %>
                </td>
                <td>
                    <%= data[0].jawa %>
                </td>
                <td>
                    <%= data[0].bali %>
                </td>
                <td>
                    <%= data[0].bugis %>
                </td>
                <td>
                    <%= data[0].makasar %>
                </td>
                <td>
                    <%= data[0].mandar %>
                </td>
                <td>
                    <%= data[0].tolaki %>
                </td>
                <td>
                    <%= data[0].buton %>
                </td>
                <td>
                    <%= data[0].muna %>
                </td>
                <td>
                    <%= data[0].bajo %>
                </td>
                <td>
                    <%= data[0].mornene %>
                </td>
                <td>
                    <%= data[0].toraja %>
                </td>
            </tr>
        </tbody>
    </table>
</div>