<main class="container mx-auto bg-white mb-0  mt-20">
    <section class=" mx-auto my-3 w-full bg-gradient-to-b from-sky-200 to-white pb-10 ">
        <div>
            <h1 class="text-3xl p-2 font-bold lg:text-4xl pt-10" data-aos="fade-left">Data Penduduk</h>
            <hr class="w-full mb-2 mx-auto border-t-[3px] border-t-slate-700" />
  
        </div>

       <div class=" mt-5 px-5 ">

        <table class="table-auto border border-black border-collapse w-full ">
            <caption class="text-black font-semibold lg:text-xl">Jumlah Penduduk</caption>
            <thead >
                <tr>
                    <th class="border border-black py-4 bg-sky-500 text-center">Laki-Laki</th>
                    <th class="border border-black py-4 bg-sky-500 text-center">Perempuan</th>
                    <th class="border border-black py-4 bg-sky-500 text-center">Jumlah</th>
                    <th class="border border-black py-4 bg-sky-500 text-center">Aksi</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td class="border border-black p-3 bg-slate-200 text-center"><%= data[0].laki_laki %></td>
                        <td class="border border-black p-3 bg-slate-200 text-center"><%= data[0].perempuan %></td>
                        <td class="border border-black p-3 bg-slate-200 text-center"><%= data[0].laki_laki + data[0].perempuan %></td>
                        <td class="border border-black p-3 bg-slate-200 text-center">
                            <a href="" class="bg-emerald-400 px-2 py-1 rounded-lg hover:bg-emerald-500 cursor-pointer hover:text-gray-300" ><i class="fa-solid fa-pencil  "></i></a> |
                            <a href="" class="bg-red-400 px-2 py-1 rounded-lg hover:bg-red-500 cursor-pointer hover:text-gray-300" onclick="return confirm('anda yakin akan menghapus data ini ?')"><i class="fa-solid fa-trash"></i></a>
                        </td>
                    </tr>
            </tbody>
        </table>
    </div>


<div class="mt-10  px-5">
    <table class="table-auto border border-black border-collapse w-full ">
        <caption class="text-black font-semibold lg:text-xl">Agama</caption>
        <thead>
            <tr>
                <th class="border border-black py-4 bg-sky-500 text-center">Islam</th>
                <th class="border border-black py-4 bg-sky-500 text-center">Kristen</th>
                <th class="border border-black py-4 bg-sky-500 text-center">Katolik</th>
                <th class="border border-black py-4 bg-sky-500 text-center">Hindu</th>
                <th class="border border-black py-4 bg-sky-500 text-center">Budha</th>
                <th class="border border-black py-4 bg-sky-500 text-center">Aksi</th>
               
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="border border-black p-3 bg-slate-200 text-center">
                    <%= data[0].islam %>
                </td>
                <td class="border border-black p-3 bg-slate-200 text-center">
                    <%= data[0].kristen %>
                </td>
                <td class="border border-black p-3 bg-slate-200 text-center">
                    <%= data[0].katolik %>
                </td>
                <td class="border border-black p-3 bg-slate-200 text-center"> 
                    <%= data[0].hindu %>
                </td>
                <td class="border border-black p-3 bg-slate-200 text-center">
                    <%= data[0].budha %>
                </td>
                <td class="border border-black p-3 bg-slate-200 text-center">
                    <a href="" class="bg-emerald-400 px-2 py-1 rounded-lg hover:bg-emerald-500 cursor-pointer hover:text-gray-300" ><i class="fa-solid fa-pencil "></i></a> |
                    <a href="" class="bg-red-400 px-2 py-1 rounded-lg hover:bg-red-500 cursor-pointer hover:text-gray-300" onclick="return confirm('anda yakin akan menghapus data ini ?')"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="mt-10 px-5">

    <table class="table-auto border border-black border-collapse w-full ">
        <caption class="text-black font-semibold lg:text-xl">Etnis</caption>
        <thead >
            <tr>
                <th class="border border-black py-4 bg-sky-500 text-center">Sunda</th>
                <th class="border border-black py-4 bg-sky-500 text-center">Jawa</th>
                <th class="border border-black py-4 bg-sky-500 text-center">Bali</th>
                <th class="border border-black py-4 bg-sky-500 text-center">Bugis</th>
                <th class="border border-black py-4 bg-sky-500 text-center">Makasar</th>
                <th class="border border-black py-4 bg-sky-500 text-center">Mandar</th>
                <th class="border border-black py-4 bg-sky-500 text-center">Tolaki</th>
                <th class="border border-black py-4 bg-sky-500 text-center">Buton</th>
                <th class="border border-black py-4 bg-sky-500 text-center">Muna</th>
                <th class="border border-black py-4 bg-sky-500 text-center">Bajo</th>
                <th class="border border-black py-4 bg-sky-500 text-center">Bungku / Mornene</th>
                <th class="border border-black py-4 bg-sky-500 text-center">Toraja</th>
                <th class="border border-black py-4 bg-sky-500 text-center">Aksi</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="border border-black p-3 bg-slate-200 text-center">
                    <%= data[0].sunda %>
                </td>
                <td class="border border-black p-3 bg-slate-200 text-center">
                    <%= data[0].jawa %>
                </td>
                <td class="border border-black p-3 bg-slate-200 text-center">
                    <%= data[0].bali %>
                </td>
                <td class="border border-black p-3 bg-slate-200 text-center">
                    <%= data[0].bugis %>
                </td>
                <td class="border border-black p-3 bg-slate-200 text-center">
                    <%= data[0].makasar %>
                </td>
                <td class="border border-black p-3 bg-slate-200 text-center">
                    <%= data[0].mandar %>
                </td>
                <td class="border border-black p-3 bg-slate-200 text-center">
                    <%= data[0].tolaki %>
                </td>
                <td class="border border-black p-3 bg-slate-200 text-center">
                    <%= data[0].buton %>
                </td>
                <td class="border border-black p-3 bg-slate-200 text-center">
                    <%= data[0].muna %>
                </td>
                <td class="border border-black p-3 bg-slate-200 text-center">
                    <%= data[0].bajo %>
                </td>
                <td class="border border-black p-3 bg-slate-200 text-center">
                    <%= data[0].mornene %>
                </td>
                <td class="border border-black p-3 bg-slate-200 text-center">
                    <%= data[0].toraja %>
                </td>
                <td class="border border-black p-3 bg-slate-200 text-center">
                    <a href="" class="bg-emerald-400 px-2 py-1 rounded-lg hover:bg-emerald-500 cursor-pointer hover:text-gray-300" ><i class="fa-solid fa-pencil "></i></a> |
                    <a href="" class="bg-red-400 px-2 py-1 rounded-lg hover:bg-red-500 cursor-pointer hover:text-gray-300" onclick="return confirm('anda yakin akan menghapus data ini ?')"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</section>
</main>