<!-- table  data pegawai-->
<main class="container mx-auto bg-white mb-0 p-5">
    <div class="mt-20 ">
        <div>
            <h1 class="text-2xl mb-3 font-bold">Data Pegawai</h>
        </div>
        <% if (msg.length > 0) { %>
        <script>
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            })

            Toast.fire({
                icon: 'success',
                title: '<%= msg %>'
                })
        </script>
        <% } %>
        <div>
            <input
            type="search"
            class="border rounded py-1 px-2 mb-4 focus:ring-1 focus:border-sky-600 focus:ring-sky-500 focus:outline-none hover:rounded-lg input  float-right"
            placeholder="search"/>
            <!-- s<a href="add-pegawai" class="float-right mr-5"><i class="fa-solid fa-user-plus"></i></a> -->
            
        </div>
        

        <table class="table-auto border border-black border-collapse w-full ">
            <thead >
                <tr>
                    <th class="border border-black py-4 bg-sky-500">nama</th>
                    <th class="border border-black py-4 bg-sky-500">nip</th>
                    <th class="border border-black py-4 bg-sky-500" >email</th>
                    <th class="border border-black py-4 bg-sky-500">username</th>
                    <th class="border border-black py-4 bg-sky-500">jabatan</th>
                    <th class="border border-black py-4 bg-sky-500">Aksi</th>

                </tr>
            </thead>
            <tbody>
                <% for( let i = 0; i < data.length; i++ ) { %>
                    <tr>
                        <td class="border border-black p-3 bg-slate-200"><%= data[i].nama %></td>
                        <td class="border border-black p-3 bg-slate-200"><%= data[i].nip %></td>
                        <td class="border border-black p-3 bg-slate-200"><%= data[i].email %></td>
                        <td class="border border-black p-3 bg-slate-200"><%= data[i].username %></td>
                        <td class="border border-black p-3 bg-slate-200"><%= data[i].jabatan %></td>
                        <td class="border border-black p-3 bg-slate-200 text-center">
                            <form action="/delete-user?_method=DELETE" method="post">
                                <input type="hidden" value="<%=data[i].id %>" name="id" >
                                <button type="submit" class="bg-red-400 px-2 py-1 rounded-lg hover:bg-red-500 cursor-pointer hover:text-gray-300" onclick="return confirm('anda yakin akan menghapus data ini ?')"><i class="fa-solid fa-trash"></i></button>
                            </form>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</main>
