<div class="mt-20">
    <% if (err.length > 0) {%>
        <p class="text-xl font-bold text-red-500"><% err %></p>
    <% }%>
    <form action="/reset-password?_method=PUT" method="post">
        <input type="hidden" name="id" value="<%= id %>">
        <input type="hidden" name="username" value="<%=username%>">
        <input type="hidden" name="email" value="<%=email%>">
        <label for="username"> Username</label>
        <input type="text" value="<%= username %>" id="username" disabled>
        <label for="email">Email</label>
        <input type="email" value="<%= email %>" id="email" disabled>
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
        <label for="confirmPassword">Password Confirmation</label>
        <input type="password" id="confirmPassword" name="confirmPassword">
        <button type="submit" class="px-4 py-2 bg-amber-500 hover:bg-amber-600 transition duration-500">Submit</button>
    </form>
</div>