<main class="max-w-screen-2xl mx-auto  bg-white">
  <% if (data.length > 0) { %> 
  <section class="max-w-screen-2xl mx-auto">
    <div class="w-[90%] bg-white rounded-lg shadow-lg overflow-hidden border mx-auto">
      <img src="<%= data[0].gambar %>" alt="example" class="w-full" />
      <div class="mt-5">
        <h1 class="text-4xl font-bold mx-3"><%= data[0].judul %></h1>
        <p class="text-[0.9em] mx-3"><i class="fa-solid fa-calendar pr-3"></i><%= date(data[0].tgl_update) %></p>
        <p class="text-[0.9em] mx-3"><i class="fa-solid fa-user pr-3 mb-3"></i><%= data[0].author %></p>
        <p class="mt-5 mx-3 text-justify"><%- convert(data[0].isi,140) %></p>
        <div class="flex justify-center my-5">
          <a href="/informasi/<%= data[0].id %>" class="inline-block bg-yellow-500 rounded-lg shadow-lg p-2 hover:bg-yellow-600">Baca Selengkapnya</a>
        </div>
      </div>
    </div>
  </section>

  <section class="max-w-screen-2xl mx-auto bg-[url(/assets/img/bg-sky.jpg)] bg-cover bg-fixed object-bottom py-7">
    <h1 class="text-3xl text-center font-bold lg:text-4xl" data-aos="fade-left">Informasi Lainnya</h1>
    <hr class="w-1/4 mb-5 mx-auto border-t-[3px] border-t-slate-700" />

    <div class="text-center mb-9 mt-10 max-w-screen-2xl mx-auto flex items-center justify-center">
      <span class="w-10 h-10 p-2 bg-cyan-500 dark:bg-slate-700 rounded-md mr-2 flex items-center justify-center font-black">
        <i id="search-box" class="bx bx-search-alt-2"></i>
      </span>
      <input
        type="text"
        name="search"
        id="search"
        onkeyup="processSearch()"
        placeholder="Cari ..."
        class="p-1 border-2 border-sky-300 w-9/12 shadow rounded focus:outline-none focus:ring-1 focus:ring-cyan-500 focus:border-cyan-500 dark:bg-slate-800 dark:border-slate-900 dark:focus:ring-cyan-400 dark:focus:border-cyan-400"
      />
    </div>
    <div class=" overflow-auto md:flex md:justify-evenly md:flex-wrap lg:block">
      <% for( let i = 1; i < data.length; i++ ) { %>
      <div class="list-info mx-auto w-[90%] rounded-lg shadow-md border-1 overflow-hidden my-6 bg-white md:w-[30%] lg:w-[90%] lg:h-[195px] lg:flex" data-aos="flip-right">
        <img src="<%=data[i].gambar%>" alt="image" class="object-cover object-center lg:h-full lg:sw-1/4" />
        <div class="my-3 ml-4 px-3">
          <a href="/informasi/<%= data[i].id %>" class="inline-block px-3 py-2 bg-yellow-500 hover:bg-yellow-600 rounded-md my- text-white font-semibold mx-auto">
            <h2 class="keyword text-2xl font-bold"><%= data[i].judul %></h2>
          </a>
          <p class="text-[0.9em]"><i class="fa-solid fa-calendar pr-3"></i><%= date(data[i].tgl_update) %></p>
          <p class="text-[0.9em]"><i class="fa-solid fa-user pr-3 mb-3"></i><%= data[i].author %></p>
          <p class="text-justify mt-1"><%- convert(data[i].isi,140) %></p>
          <div class="flex justify-center">
            <a href="/informasi/<%= data[i].id %>" class="inline-block px-3 py-2 bg-yellow-500 hover:bg-yellow-600 rounded-md my- text-white font-semibold mx-auto">Baca Selengkapnya</a>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </section>
  <% } else {%> 
<script>
    Swal.fire({
      icon: 'info',
      title: 'Informasi Tidak Tersedia',
      text: 'Kembali ke halaman utama!',
      confirmButtonText: '<a href="/">Home</a>',
    });
  </script>
  <% } %> 
</main>
<script src="/js/search-box.js"></script>
